#about-me {
    width: 500px;
    height: 400px;
    background: rgb(29, 23, 34);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 75%;
    max-height: 75%;

    min-width: 25%;
    min-height: 25%;
    overflow: auto;

    /* for resizeable div */
    resize: both;
}

#about-me::-webkit-resizer {
    background-color: gray;
}

#about-me-content {
    color: white;
    padding: 20px;
}

.row {
    height: 100%;
}

.col-md-2 {
    height: 10%;
    background: rgb(124, 118, 118);

}

.col-md-4 {
    padding: 20px;
}

.window-close-btn {
    cursor: pointer;
    float: right;
    margin: 10px;
    color: white;
    background: red;
    border: 1px solid white;
    border-radius: 4px;
}