html{
    min-height: 100%;

}

body {
    background: black;
    
}


.computer-button {
    position: fixed;
    top: 50%;
    left: 75%;
    float: right;
    background: transparent;
    cursor: pointer;
    border: none;
    z-index: 1;

}

.computer-button:focus {
    outline: none;
}

#starting-text {
    color: rgb(16, 252, 36);
    position: relative;
    text-align: center;
    top: 20rem;
}

#main-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(36, 0, 28);
    background: -moz-linear-gradient(0deg, rgba(36, 0, 28, 1) 0%, rgba(73, 57, 111, 1) 45%);
    background: -webkit-linear-gradient(0deg, rgba(36, 0, 28, 1) 0%, rgba(73, 57, 111, 1) 45%);
    background: linear-gradient(0deg, rgba(36, 0, 28, 1) 0%, rgba(73, 57, 111, 1) 45%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#24001c", endColorstr="#49396f", GradientType=1);
    padding: 10px;
}

.page-link {
    text-decoration: none;
    cursor: default;
    padding: 5px;
}

.page-link img {
    width: 4rem;
    margin: 3px;
}

.page-link p {
    color: white;
    margin: 3px;
    padding: 5px;

}

#about-me {
    background: red;
    width: 500px;
    height: 400px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

}

.row {
    height: 100%;
}

.col-md-2 {
    height: 10%;
    background: gray;
}

.col-md-4 {
    height: 90%;
}

.window-close-btn {
    cursor: pointer;
    float: right;
    margin: 10px;
    color: white;
    background: red;
    border: 1px solid white;
    border-radius: 4px;
}

#footer{
    background-color: rgb(181, 190, 186);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

#start-button{
    padding: 10px;
    width: 5%;
    background: green;
    border: 1px solid black;
    color: white;
}

.start-button-img{
    width: 16px;
    height: 16px;
}